{% import 'blog/macros.html.twig' as blogMacros %}
{% extends 'blog/blog_layout.html.twig' %}


{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(260) %}
{% set header_image_height = page.header.header_image_height|defined(260) %}
{% set header_image_file = page.header.header_image_file %}

{% set author = page.find(page.header.author)|default(false) %}

{% block blog_content %}
  <h1 class="lh-title orange f2 fw4">
    {{ page.title }}
  </h1>

  {{ blogMacros.blogMeta(page, true) }}

  <section class="blog">
    {{ content }}
  </section>

  <div id="share">
  </div>

{% endblock blog_content %}
