{% extends 'default.html.twig' %}

{% block headerClasses %}
  bg-img-bike bg-y-30
{% endblock headerClasses %}

{% block under_main %}
  <div class="mt6 pt4 bg-white">
    {% include 'partials/work_list.html.twig' with { 'collection': page.collection } only %}
  </div>
{% endblock under_main %}
