{% extends 'partials/base.html.twig' %}

{% block main %}
  <main class="ph3 cover {{ page.header.main_classes }}">
    <div class="bg-white relative top--6 neg-mb7 mw8 center {{ page.header.main_container_classes }}">
      {% include 'partials/icon_header_block.html.twig' with { divClasses: 'bg-orange b--white' } %}
      <article class="ph3 pb3 tc bg-orange white">
        <h1 class="f3 fw4 ttu mt0">
          {{ page.title }}
        </h1>
        <div class="measure-wide center">
          {{ content }}
        </div>
      </article>
      {% block main_lower %}
      {% endblock main_lower %}
    </div>
  </main>
{% endblock main %}
