{% extends 'default.html.twig' %}

{% block content %}
  {{ parent() }}

  <ul class="list pl0 cf mt4">
    {% for image in page.media.images|randomize %}
        <li class="fl w-50 w-third-m w-25-ns pa3">
          <div class="aspect-ratio aspect-ratio--4x3">
            <img
              class="db bg-center contain aspect-ratio--object blank"
              style="background-image: url({{ image.url }});"
              alt="{{ image.meta.alt_text }}"
            />
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
