/*

  BACKGROUND POSITIONS
    - Background X (0%, 5%... 100%)
    - Background Y (0%, 5%... 100%)

*/


$i: 0;

@while $i <= 20 {
  $val: $i * 5;

  .bg-x-#{$val} {
    background-position-x: $val * 1%;
  }

  .bg-y-#{$val} {
    background-position-y: $val * 1%;
  }

  $i: $i + 1;
}
