.bg-o80-white {
  background-color: transparentize($white, 0.2);
}

.bg-o80-light-purple {
  background-color: transparentize($light-purple, 0.2);
}

.bg-o80-purple {
  background-color: transparentize($purple, 0.2);
}

.bg-o80-black {
  background-color: transparentize($black, 0.4);
}

.bg-o80-gray {
  background-color: transparentize($gray, 0.2);
}

.bg-o80-orange {
  background-color: transparentize($orange, 0.2);
}
