.bg-img-bike {
  background-image: url("../images/bg-bike.jpg");
}

.bg-img-charts {
  background-image: url("../images/bg-charts.jpg");
}

.bg-img-geosky {
  background-image: url("../images/bg-geosky.jpg");
}

.bg-img-gokarts {
  background-image: url("../images/bg-gokarts.jpg");
}

.bg-img-laptop {
  background-image: url("../images/bg-laptop.jpg");
}

.bg-img-mountain {
  background-image: url("../images/bg-mountain.jpg");
}

.bg-img-swoosh {
  background-image: url("../images/bg-swoosh.jpg");
}

.bg-img-trophy {
  background-image: url("../images/bg-trophy.jpg");
}

.img-bike {
  background-image: url("../images/bike.jpg");
}

.img-geosky {
  background-image: url("../images/geosky.jpg");
}

.img-laptop {
  background-image: url("../images/laptop.jpg");
}

.img-trophy {
  background-image: url("../images/trophy.jpg");
}

.body-img-city-overlay {
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../images/city-overlay.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

.bg-overlay-purple {
  background-color: transparentize($purple, 0.2);
}

.bg-overlay-orange-hover {
  transition: background-color .15s ease-in;
  &:hover {
    background-color: transparentize($orange, 0.2);
  }
}
