/*
   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/
   Use in combination with the position module.
   Base:
     top
     bottom
     right
     left
   Modifiers:
     --6 = literal value -6
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.top--3    { top:    -3rem; }
.right--3  { right:  -3rem; }
.bottom--3 { bottom: -3rem; }
.left--3   { left:   -3rem; }

.top--6    { top:    -6rem; }
.right--6  { right:  -6rem; }
.bottom--6 { bottom: -6rem; }
.left--6   { left:   -6rem; }

@media #{$breakpoint-not-small} {
  .top--3-ns    { top:    -3rem; }
  .right--3-ns  { right:  -3rem; }
  .bottom--3-ns { bottom: -3rem; }
  .left--3-ns   { left:   -3rem; }

  .top--6-ns    { top:    -6rem; }
  .right--6-ns  { right:  -6rem; }
  .bottom--6-ns { bottom: -6rem; }
  .left--6-ns   { left:   -6rem; }
}

@media #{$breakpoint-medium} {
  .top--3-m    { top:    -3rem; }
  .right--3-m  { right:  -3rem; }
  .bottom--3-m { bottom: -3rem; }
  .left--3-m   { left:   -3rem; }

  .top--6-m    { top:    -6rem; }
  .right--6-m  { right:  -6rem; }
  .bottom--6-m { bottom: -6rem; }
  .left--6-m   { left:   -6rem; }
}

@media #{$breakpoint-large} {
  .top--3-l    { top:    -3rem; }
  .right--3-l  { right:  -3rem; }
  .bottom--3-l { bottom: -3rem; }
  .left--3-l   { left:   -3rem; }

  .top--6-l    { top:    -6rem; }
  .right--6-l  { right:  -6rem; }
  .bottom--6-l { bottom: -6rem; }
  .left--6-l   { left:   -6rem; }
}
