.fill-black { fill: $black; }
.fill-near-black { fill: $near-black; }
.fill-dark-gray { fill: $dark-gray; }
.fill-mid-gray { fill: $mid-gray; }
.fill-gray { fill: $gray; }
.fill-silver { fill: $silver; }
.fill-light-silver { fill: $light-silver; }
.fill-moon-gray { fill: $moon-gray; }
.fill-light-gray { fill: $light-gray; }
.fill-near-white { fill: $near-white; }
.fill-white { fill: $white; }
.fill-transparent { fill: $transparent; }

.fill-dark-red { fill: $dark-red; }
.fill-red { fill: $red; }
.fill-light-red { fill: $light-red; }
.fill-orange { fill: $orange; }
.fill-gold { fill: $gold; }
.fill-yellow { fill: $yellow; }
.fill-light-yellow { fill: $light-yellow; }
.fill-purple { fill: $purple; }
.fill-light-purple { fill: $light-purple; }
.fill-dark-pink { fill: $dark-pink; }
.fill-hot-pink { fill: $hot-pink; }
.fill-pink { fill: $pink; }
.fill-light-pink { fill: $light-pink; }
.fill-dark-green { fill: $dark-green; }
.fill-green { fill: $green; }
.fill-light-green { fill: $light-green; }
.fill-navy { fill: $navy; }
.fill-dark-blue { fill: $dark-blue; }
.fill-blue { fill: $blue; }
.fill-light-blue { fill: $light-blue; }
.fill-lightest-blue { fill: $lightest-blue; }
.fill-washed-blue { fill: $washed-blue; }
.fill-washed-green { fill: $washed-green; }
.fill-washed-yellow { fill: $washed-yellow; }
.fill-washed-red { fill: $washed-red; }
.fill-inherit { fill: inherit; }
