/*

  HEIGHTS
  Additional height declarations

*/

/* Height Scale */

.min-h6 { min-height: 36rem; }
.min-h5 { min-height: 28rem; }

@media #{$breakpoint-not-small} {
  .min-h6-ns { min-height: 36rem; }
  .min-h5-ns { min-height: 28rem; }
}

@media #{$breakpoint-medium} {
  .min-h6-m { min-height: 36rem; }
  .min-h5-m { min-height: 28rem; }
}

@media #{$breakpoint-large} {
  .min-h6-l { min-height: 36rem; }
  .min-h5-l { min-height: 28rem; }
}
