.fill-black-hover:hover { fill: $black; }
.fill-near-black-hover:hover { fill: $near-black; }
.fill-dark-gray-hover:hover { fill: $dark-gray; }
.fill-mid-gray-hover:hover { fill: $mid-gray; }
.fill-gray-hover:hover { fill: $gray; }
.fill-silver-hover:hover { fill: $silver; }
.fill-light-silver-hover:hover { fill: $light-silver; }
.fill-moon-gray-hover:hover { fill: $moon-gray; }
.fill-light-gray-hover:hover { fill: $light-gray; }
.fill-near-white-hover:hover { fill: $near-white; }
.fill-white-hover:hover { fill: $white; }
.fill-transparent-hover:hover { fill: $transparent; }

.fill-dark-red-hover:hover { fill: $dark-red; }
.fill-red-hover:hover { fill: $red; }
.fill-light-red-hover:hover { fill: $light-red; }
.fill-orange-hover:hover { fill: $orange; }
.fill-gold-hover:hover { fill: $gold; }
.fill-yellow-hover:hover { fill: $yellow; }
.fill-light-yellow-hover:hover { fill: $light-yellow; }
.fill-purple-hover:hover { fill: $purple; }
.fill-light-purple-hover:hover { fill: $light-purple; }
.fill-dark-pink-hover:hover { fill: $dark-pink; }
.fill-hot-pink-hover:hover { fill: $hot-pink; }
.fill-pink-hover:hover { fill: $pink; }
.fill-light-pink-hover:hover { fill: $light-pink; }
.fill-dark-green-hover:hover { fill: $dark-green; }
.fill-green-hover:hover { fill: $green; }
.fill-light-green-hover:hover { fill: $light-green; }
.fill-navy-hover:hover { fill: $navy; }
.fill-dark-blue-hover:hover { fill: $dark-blue; }
.fill-blue-hover:hover { fill: $blue; }
.fill-light-blue-hover:hover { fill: $light-blue; }
.fill-lightest-blue-hover:hover { fill: $lightest-blue; }
.fill-washed-blue-hover:hover { fill: $washed-blue; }
.fill-washed-green-hover:hover { fill: $washed-green; }
.fill-washed-yellow-hover:hover { fill: $washed-yellow; }
.fill-washed-red-hover:hover { fill: $washed-red; }
.fill-inherit-hover:hover { fill: inherit; }
