/*
   NEGATIVE MARGINS
   An eight step powers of two scale ranging from 0 to -16rem.

   Base:
     m = margin

   Modifiers:
     t = top
     b = bottom
     h = horizontal
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/


.neg-mt1 { margin-top: $spacing-extra-small * -1; }
.neg-mt2 { margin-top: $spacing-small * -1; }
.neg-mt3 { margin-top: $spacing-medium * -1; }
.neg-mt4 { margin-top: $spacing-large * -1; }
.neg-mt5 { margin-top: $spacing-extra-large * -1; }
.neg-mt6 { margin-top: $spacing-extra-extra-large * -1; }
.neg-mt7 { margin-top: $spacing-extra-extra-extra-large * -1; }

.neg-mb1 { margin-bottom: $spacing-extra-small * -1; }
.neg-mb2 { margin-bottom: $spacing-small * -1; }
.neg-mb3 { margin-bottom: $spacing-medium * -1; }
.neg-mb4 { margin-bottom: $spacing-large * -1; }
.neg-mb5 { margin-bottom: $spacing-extra-large * -1; }
.neg-mb6 { margin-bottom: $spacing-extra-extra-large * -1; }
.neg-mb7 { margin-bottom: $spacing-extra-extra-extra-large * -1; }

.neg-mh3 {
  margin-left: $spacing-medium * -1;
  margin-right: $spacing-medium * -1;
}

.neg-mh4 {
  margin-left: $spacing-large * -1;
  margin-right: $spacing-large * -1;
}

@media #{$breakpoint-not-small} {
  .neg-mt1-ns { margin-top: $spacing-extra-small * -1; }
  .neg-mt2-ns { margin-top: $spacing-small * -1; }
  .neg-mt3-ns { margin-top: $spacing-medium * -1; }
  .neg-mt4-ns { margin-top: $spacing-large * -1; }
  .neg-mt5-ns { margin-top: $spacing-extra-large * -1; }
  .neg-mt6-ns { margin-top: $spacing-extra-extra-large * -1; }
  .neg-mt7-ns { margin-top: $spacing-extra-extra-extra-large * -1; }

  .neg-mb1-ns { margin-bottom: $spacing-extra-small * -1; }
  .neg-mb2-ns { margin-bottom: $spacing-small * -1; }
  .neg-mb3-ns { margin-bottom: $spacing-medium * -1; }
  .neg-mb4-ns { margin-bottom: $spacing-large * -1; }
  .neg-mb5-ns { margin-bottom: $spacing-extra-large * -1; }
  .neg-mb6-ns { margin-bottom: $spacing-extra-extra-large * -1; }
  .neg-mb7-ns { margin-bottom: $spacing-extra-extra-extra-large * -1; }
}

@media #{$breakpoint-medium} {
  .neg-mt1-m { margin-top: $spacing-extra-small * -1; }
  .neg-mt2-m { margin-top: $spacing-small * -1; }
  .neg-mt3-m { margin-top: $spacing-medium * -1; }
  .neg-mt4-m { margin-top: $spacing-large * -1; }
  .neg-mt5-m { margin-top: $spacing-extra-large * -1; }
  .neg-mt6-m { margin-top: $spacing-extra-extra-large * -1; }
  .neg-mt7-m { margin-top: $spacing-extra-extra-extra-large * -1; }

  .neg-mb1-m { margin-bottom: $spacing-extra-small * -1; }
  .neg-mb2-m { margin-bottom: $spacing-small * -1; }
  .neg-mb3-m { margin-bottom: $spacing-medium * -1; }
  .neg-mb4-m { margin-bottom: $spacing-large * -1; }
  .neg-mb5-m { margin-bottom: $spacing-extra-large * -1; }
  .neg-mb6-m { margin-bottom: $spacing-extra-extra-large * -1; }
  .neg-mb7-m { margin-bottom: $spacing-extra-extra-extra-large * -1; }
}

@media #{$breakpoint-large} {
  .neg-mt1-l { margin-top: $spacing-extra-small * -1; }
  .neg-mt2-l { margin-top: $spacing-small * -1; }
  .neg-mt3-l { margin-top: $spacing-medium * -1; }
  .neg-mt4-l { margin-top: $spacing-large * -1; }
  .neg-mt5-l { margin-top: $spacing-extra-large * -1; }
  .neg-mt6-l { margin-top: $spacing-extra-extra-large * -1; }
  .neg-mt7-l { margin-top: $spacing-extra-extra-extra-large * -1; }

  .neg-mb1-l { margin-bottom: $spacing-extra-small * -1; }
  .neg-mb2-l { margin-bottom: $spacing-small * -1; }
  .neg-mb3-l { margin-bottom: $spacing-medium * -1; }
  .neg-mb4-l { margin-bottom: $spacing-large * -1; }
  .neg-mb5-l { margin-bottom: $spacing-extra-large * -1; }
  .neg-mb6-l { margin-bottom: $spacing-extra-extra-large * -1; }
  .neg-mb7-l { margin-bottom: $spacing-extra-extra-extra-large * -1; }
}

// Special values
.neg-mt2_5 { margin-top: 2.5rem * -1; }

@media #{$breakpoint-not-small} {
  .neg-mt4_5-ns { margin-top: 4.5rem * -1; }
}
