@mixin skin-mixin($name, $colour) {
  .#{$name} { color: $colour };
  .bg-#{$name} { background-color: $colour; }
}

@include skin-mixin('orange', $orange);
@include skin-mixin('purple', $purple);
@include skin-mixin('grey', $grey);
@include skin-mixin('plum', $plum);

.fill-white {
  fill: white;
  svg {
    fill: white;
  }
}

.fill-orange {
  fill: $orange;
  svg {
    fill: $orange;
  }
}


.bg-white-o-80 {
    background: rgba(255, 255, 255, 0.8);
}

.bg-white-o-70 {
    background: rgba(255, 255, 255, 0.7);
}
