
// Converted Variables

$negative-spacing-none: $spacing-none * -1 !default;
$negative-spacing-extra-small: $spacing-extra-small * -1 !default;
$negative-spacing-small: $spacing-small * -1 !default;
$negative-spacing-medium: $spacing-medium * -1 !default;
$negative-spacing-large: $spacing-large * -1 !default;
$negative-spacing-extra-large: $spacing-extra-large * -1 !default;
$negative-spacing-extra-extra-large: $spacing-extra-extra-large * -1 !default;
$negative-spacing-extra-extra-extra-large: $spacing-extra-extra-extra-large * -1 !default;


// Custom Media Query Variables


/* Variables */

/*
   NEGATIVE SPACING

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


.pa-0 { padding: $negative-spacing-none; }
.pa-1 { padding: $negative-spacing-extra-small; }
.pa-2 { padding: $negative-spacing-small; }
.pa-3 { padding: $negative-spacing-medium; }
.pa-4 { padding: $negative-spacing-large; }
.pa-5 { padding: $negative-spacing-extra-large; }
.pa-6 { padding: $negative-spacing-extra-extra-large; }
.pa-7 { padding: $negative-spacing-extra-extra-extra-large; }

.pl-0 { padding-left: $negative-spacing-none; }
.pl-1 { padding-left: $negative-spacing-extra-small; }
.pl-2 { padding-left: $negative-spacing-small; }
.pl-3 { padding-left: $negative-spacing-medium; }
.pl-4 { padding-left: $negative-spacing-large; }
.pl-5 { padding-left: $negative-spacing-extra-large; }
.pl-6 { padding-left: $negative-spacing-extra-extra-large; }
.pl-7 { padding-left: $negative-spacing-extra-extra-extra-large; }

.pr-0 { padding-right: $negative-spacing-none; }
.pr-1 { padding-right: $negative-spacing-extra-small; }
.pr-2 { padding-right: $negative-spacing-small; }
.pr-3 { padding-right: $negative-spacing-medium; }
.pr-4 { padding-right: $negative-spacing-large; }
.pr-5 { padding-right: $negative-spacing-extra-large; }
.pr-6 { padding-right: $negative-spacing-extra-extra-large; }
.pr-7 { padding-right: $negative-spacing-extra-extra-extra-large; }

.pb-0 { padding-bottom: $negative-spacing-none; }
.pb-1 { padding-bottom: $negative-spacing-extra-small; }
.pb-2 { padding-bottom: $negative-spacing-small; }
.pb-3 { padding-bottom: $negative-spacing-medium; }
.pb-4 { padding-bottom: $negative-spacing-large; }
.pb-5 { padding-bottom: $negative-spacing-extra-large; }
.pb-6 { padding-bottom: $negative-spacing-extra-extra-large; }
.pb-7 { padding-bottom: $negative-spacing-extra-extra-extra-large; }

.pt-0 { padding-top: $negative-spacing-none; }
.pt-1 { padding-top: $negative-spacing-extra-small; }
.pt-2 { padding-top: $negative-spacing-small; }
.pt-3 { padding-top: $negative-spacing-medium; }
.pt-4 { padding-top: $negative-spacing-large; }
.pt-5 { padding-top: $negative-spacing-extra-large; }
.pt-6 { padding-top: $negative-spacing-extra-extra-large; }
.pt-7 { padding-top: $negative-spacing-extra-extra-extra-large; }

.pv-0 {
  padding-top: $negative-spacing-none;
  padding-bottom: $negative-spacing-none;
}
.pv-1 {
  padding-top: $negative-spacing-extra-small;
  padding-bottom: $negative-spacing-extra-small;
}
.pv-2 {
  padding-top: $negative-spacing-small;
  padding-bottom: $negative-spacing-small;
}
.pv-3 {
  padding-top: $negative-spacing-medium;
  padding-bottom: $negative-spacing-medium;
}
.pv-4 {
  padding-top: $negative-spacing-large;
  padding-bottom: $negative-spacing-large;
}
.pv-5 {
  padding-top: $negative-spacing-extra-large;
  padding-bottom: $negative-spacing-extra-large;
}
.pv-6 {
  padding-top: $negative-spacing-extra-extra-large;
  padding-bottom: $negative-spacing-extra-extra-large;
}

.pv-7 {
  padding-top: $negative-spacing-extra-extra-extra-large;
  padding-bottom: $negative-spacing-extra-extra-extra-large;
}

.ph-0 {
  padding-left: $negative-spacing-none;
  padding-right: $negative-spacing-none;
}

.ph-1 {
  padding-left: $negative-spacing-extra-small;
  padding-right: $negative-spacing-extra-small;
}

.ph-2 {
  padding-left: $negative-spacing-small;
  padding-right: $negative-spacing-small;
}

.ph-3 {
  padding-left: $negative-spacing-medium;
  padding-right: $negative-spacing-medium;
}

.ph-4 {
  padding-left: $negative-spacing-large;
  padding-right: $negative-spacing-large;
}

.ph-5 {
  padding-left: $negative-spacing-extra-large;
  padding-right: $negative-spacing-extra-large;
}

.ph-6 {
  padding-left: $negative-spacing-extra-extra-large;
  padding-right: $negative-spacing-extra-extra-large;
}

.ph-7 {
  padding-left: $negative-spacing-extra-extra-extra-large;
  padding-right: $negative-spacing-extra-extra-extra-large;
}

.ma-0  {  margin: $negative-spacing-none; }
.ma-1 {  margin: $negative-spacing-extra-small; }
.ma-2  {  margin: $negative-spacing-small; }
.ma-3  {  margin: $negative-spacing-medium; }
.ma-4  {  margin: $negative-spacing-large; }
.ma-5  {  margin: $negative-spacing-extra-large; }
.ma-6 {  margin: $negative-spacing-extra-extra-large; }
.ma-7 { margin: $negative-spacing-extra-extra-extra-large; }

.ml-0  {  margin-left: $negative-spacing-none; }
.ml-1 {  margin-left: $negative-spacing-extra-small; }
.ml-2  {  margin-left: $negative-spacing-small; }
.ml-3  {  margin-left: $negative-spacing-medium; }
.ml-4  {  margin-left: $negative-spacing-large; }
.ml-5  {  margin-left: $negative-spacing-extra-large; }
.ml-6 {  margin-left: $negative-spacing-extra-extra-large; }
.ml-7 { margin-left: $negative-spacing-extra-extra-extra-large; }

.mr-0  {  margin-right: $negative-spacing-none; }
.mr-1 {  margin-right: $negative-spacing-extra-small; }
.mr-2  {  margin-right: $negative-spacing-small; }
.mr-3  {  margin-right: $negative-spacing-medium; }
.mr-4  {  margin-right: $negative-spacing-large; }
.mr-5  {  margin-right: $negative-spacing-extra-large; }
.mr-6 {  margin-right: $negative-spacing-extra-extra-large; }
.mr-7 { margin-right: $negative-spacing-extra-extra-extra-large; }

.mb-0  {  margin-bottom: $negative-spacing-none; }
.mb-1 {  margin-bottom: $negative-spacing-extra-small; }
.mb-2  {  margin-bottom: $negative-spacing-small; }
.mb-3  {  margin-bottom: $negative-spacing-medium; }
.mb-4  {  margin-bottom: $negative-spacing-large; }
.mb-5  {  margin-bottom: $negative-spacing-extra-large; }
.mb-6 {  margin-bottom: $negative-spacing-extra-extra-large; }
.mb-7 { margin-bottom: $negative-spacing-extra-extra-extra-large; }

.mt-0  {  margin-top: $negative-spacing-none; }
.mt-1 {  margin-top: $negative-spacing-extra-small; }
.mt-2  {  margin-top: $negative-spacing-small; }
.mt-3  {  margin-top: $negative-spacing-medium; }
.mt-4  {  margin-top: $negative-spacing-large; }
.mt-5  {  margin-top: $negative-spacing-extra-large; }
.mt-6 {  margin-top: $negative-spacing-extra-extra-large; }
.mt-7 { margin-top: $negative-spacing-extra-extra-extra-large; }

.mv-0   {
  margin-top: $negative-spacing-none;
  margin-bottom: $negative-spacing-none;
}
.mv-1  {
  margin-top: $negative-spacing-extra-small;
  margin-bottom: $negative-spacing-extra-small;
}
.mv-2   {
  margin-top: $negative-spacing-small;
  margin-bottom: $negative-spacing-small;
}
.mv-3   {
  margin-top: $negative-spacing-medium;
  margin-bottom: $negative-spacing-medium;
}
.mv-4   {
  margin-top: $negative-spacing-large;
  margin-bottom: $negative-spacing-large;
}
.mv-5   {
  margin-top: $negative-spacing-extra-large;
  margin-bottom: $negative-spacing-extra-large;
}
.mv-6  {
  margin-top: $negative-spacing-extra-extra-large;
  margin-bottom: $negative-spacing-extra-extra-large;
}
.mv-7  {
  margin-top: $negative-spacing-extra-extra-extra-large;
  margin-bottom: $negative-spacing-extra-extra-extra-large;
}

.mh-0   {
  margin-left: $negative-spacing-none;
  margin-right: $negative-spacing-none;
}
.mh-1   {
  margin-left: $negative-spacing-extra-small;
  margin-right: $negative-spacing-extra-small;
}
.mh-2   {
  margin-left: $negative-spacing-small;
  margin-right: $negative-spacing-small;
}
.mh-3   {
  margin-left: $negative-spacing-medium;
  margin-right: $negative-spacing-medium;
}
.mh-4   {
  margin-left: $negative-spacing-large;
  margin-right: $negative-spacing-large;
}
.mh-5   {
  margin-left: $negative-spacing-extra-large;
  margin-right: $negative-spacing-extra-large;
}
.mh-6  {
  margin-left: $negative-spacing-extra-extra-large;
  margin-right: $negative-spacing-extra-extra-large;
}
.mh-7  {
  margin-left: $negative-spacing-extra-extra-extra-large;
  margin-right: $negative-spacing-extra-extra-extra-large;
}

@media #{$breakpoint-not-small} {
  .pa-0-ns  {  padding: $negative-spacing-none; }
  .pa-1-ns {  padding: $negative-spacing-extra-small; }
  .pa-2-ns  {  padding: $negative-spacing-small; }
  .pa-3-ns  {  padding: $negative-spacing-medium; }
  .pa-4-ns  {  padding: $negative-spacing-large; }
  .pa-5-ns  {  padding: $negative-spacing-extra-large; }
  .pa-6-ns {  padding: $negative-spacing-extra-extra-large; }
  .pa-7-ns { padding: $negative-spacing-extra-extra-extra-large; }

  .pl-0-ns  {  padding-left: $negative-spacing-none; }
  .pl-1-ns {  padding-left: $negative-spacing-extra-small; }
  .pl-2-ns  {  padding-left: $negative-spacing-small; }
  .pl-3-ns  {  padding-left: $negative-spacing-medium; }
  .pl-4-ns  {  padding-left: $negative-spacing-large; }
  .pl-5-ns  {  padding-left: $negative-spacing-extra-large; }
  .pl-6-ns {  padding-left: $negative-spacing-extra-extra-large; }
  .pl-7-ns { padding-left: $negative-spacing-extra-extra-extra-large; }

  .pr-0-ns  {  padding-right: $negative-spacing-none; }
  .pr-1-ns {  padding-right: $negative-spacing-extra-small; }
  .pr-2-ns  {  padding-right: $negative-spacing-small; }
  .pr-3-ns  {  padding-right: $negative-spacing-medium; }
  .pr-4-ns  {  padding-right: $negative-spacing-large; }
  .pr-5-ns {   padding-right: $negative-spacing-extra-large; }
  .pr-6-ns {  padding-right: $negative-spacing-extra-extra-large; }
  .pr-7-ns { padding-right: $negative-spacing-extra-extra-extra-large; }

  .pb-0-ns  {  padding-bottom: $negative-spacing-none; }
  .pb-1-ns {  padding-bottom: $negative-spacing-extra-small; }
  .pb-2-ns  {  padding-bottom: $negative-spacing-small; }
  .pb-3-ns  {  padding-bottom: $negative-spacing-medium; }
  .pb-4-ns  {  padding-bottom: $negative-spacing-large; }
  .pb-5-ns  {  padding-bottom: $negative-spacing-extra-large; }
  .pb-6-ns {  padding-bottom: $negative-spacing-extra-extra-large; }
  .pb-7-ns { padding-bottom: $negative-spacing-extra-extra-extra-large; }

  .pt-0-ns  {  padding-top: $negative-spacing-none; }
  .pt-1-ns {  padding-top: $negative-spacing-extra-small; }
  .pt-2-ns  {  padding-top: $negative-spacing-small; }
  .pt-3-ns  {  padding-top: $negative-spacing-medium; }
  .pt-4-ns  {  padding-top: $negative-spacing-large; }
  .pt-5-ns  {  padding-top: $negative-spacing-extra-large; }
  .pt-6-ns {  padding-top: $negative-spacing-extra-extra-large; }
  .pt-7-ns { padding-top: $negative-spacing-extra-extra-extra-large; }

  .pv-0-ns {
    padding-top: $negative-spacing-none;
    padding-bottom: $negative-spacing-none;
  }
  .pv-1-ns {
    padding-top: $negative-spacing-extra-small;
    padding-bottom: $negative-spacing-extra-small;
  }
  .pv-2-ns {
    padding-top: $negative-spacing-small;
    padding-bottom: $negative-spacing-small;
  }
  .pv-3-ns {
    padding-top: $negative-spacing-medium;
    padding-bottom: $negative-spacing-medium;
  }
  .pv-4-ns {
    padding-top: $negative-spacing-large;
    padding-bottom: $negative-spacing-large;
  }
  .pv-5-ns {
    padding-top: $negative-spacing-extra-large;
    padding-bottom: $negative-spacing-extra-large;
  }
  .pv-6-ns {
    padding-top: $negative-spacing-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-large;
  }
  .pv-7-ns {
    padding-top: $negative-spacing-extra-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-extra-large;
  }
  .ph-0-ns {
    padding-left: $negative-spacing-none;
    padding-right: $negative-spacing-none;
  }
  .ph-1-ns {
    padding-left: $negative-spacing-extra-small;
    padding-right: $negative-spacing-extra-small;
  }
  .ph-2-ns {
    padding-left: $negative-spacing-small;
    padding-right: $negative-spacing-small;
  }
  .ph-3-ns {
    padding-left: $negative-spacing-medium;
    padding-right: $negative-spacing-medium;
  }
  .ph-4-ns {
    padding-left: $negative-spacing-large;
    padding-right: $negative-spacing-large;
  }
  .ph-5-ns {
    padding-left: $negative-spacing-extra-large;
    padding-right: $negative-spacing-extra-large;
  }
  .ph-6-ns {
    padding-left: $negative-spacing-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-large;
  }
  .ph-7-ns {
    padding-left: $negative-spacing-extra-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-extra-large;
  }

  .ma-0-ns  {  margin: $negative-spacing-none; }
  .ma-1-ns {  margin: $negative-spacing-extra-small; }
  .ma-2-ns  {  margin: $negative-spacing-small; }
  .ma-3-ns  {  margin: $negative-spacing-medium; }
  .ma-4-ns  {  margin: $negative-spacing-large; }
  .ma-5-ns  {  margin: $negative-spacing-extra-large; }
  .ma-6-ns {  margin: $negative-spacing-extra-extra-large; }
  .ma-7-ns { margin: $negative-spacing-extra-extra-extra-large; }

  .ml-0-ns  {  margin-left: $negative-spacing-none; }
  .ml-1-ns {  margin-left: $negative-spacing-extra-small; }
  .ml-2-ns  {  margin-left: $negative-spacing-small; }
  .ml-3-ns  {  margin-left: $negative-spacing-medium; }
  .ml-4-ns  {  margin-left: $negative-spacing-large; }
  .ml-5-ns  {  margin-left: $negative-spacing-extra-large; }
  .ml-6-ns {  margin-left: $negative-spacing-extra-extra-large; }
  .ml-7-ns { margin-left: $negative-spacing-extra-extra-extra-large; }

  .mr-0-ns  {  margin-right: $negative-spacing-none; }
  .mr-1-ns {  margin-right: $negative-spacing-extra-small; }
  .mr-2-ns  {  margin-right: $negative-spacing-small; }
  .mr-3-ns  {  margin-right: $negative-spacing-medium; }
  .mr-4-ns  {  margin-right: $negative-spacing-large; }
  .mr-5-ns  {  margin-right: $negative-spacing-extra-large; }
  .mr-6-ns {  margin-right: $negative-spacing-extra-extra-large; }
  .mr-7-ns { margin-right: $negative-spacing-extra-extra-extra-large; }

  .mb-0-ns  {  margin-bottom: $negative-spacing-none; }
  .mb-1-ns {  margin-bottom: $negative-spacing-extra-small; }
  .mb-2-ns  {  margin-bottom: $negative-spacing-small; }
  .mb-3-ns  {  margin-bottom: $negative-spacing-medium; }
  .mb-4-ns  {  margin-bottom: $negative-spacing-large; }
  .mb-5-ns  {  margin-bottom: $negative-spacing-extra-large; }
  .mb-6-ns {  margin-bottom: $negative-spacing-extra-extra-large; }
  .mb-7-ns { margin-bottom: $negative-spacing-extra-extra-extra-large; }

  .mt-0-ns  {  margin-top: $negative-spacing-none; }
  .mt-1-ns {  margin-top: $negative-spacing-extra-small; }
  .mt-2-ns  {  margin-top: $negative-spacing-small; }
  .mt-3-ns  {  margin-top: $negative-spacing-medium; }
  .mt-4-ns  {  margin-top: $negative-spacing-large; }
  .mt-5-ns  {  margin-top: $negative-spacing-extra-large; }
  .mt-6-ns {  margin-top: $negative-spacing-extra-extra-large; }
  .mt-7-ns { margin-top: $negative-spacing-extra-extra-extra-large; }

  .mv-0-ns   {
    margin-top: $negative-spacing-none;
    margin-bottom: $negative-spacing-none;
  }
  .mv-1-ns  {
    margin-top: $negative-spacing-extra-small;
    margin-bottom: $negative-spacing-extra-small;
  }
  .mv-2-ns   {
    margin-top: $negative-spacing-small;
    margin-bottom: $negative-spacing-small;
  }
  .mv-3-ns   {
    margin-top: $negative-spacing-medium;
    margin-bottom: $negative-spacing-medium;
  }
  .mv-4-ns   {
    margin-top: $negative-spacing-large;
    margin-bottom: $negative-spacing-large;
  }
  .mv-5-ns   {
    margin-top: $negative-spacing-extra-large;
    margin-bottom: $negative-spacing-extra-large;
  }
  .mv-6-ns  {
    margin-top: $negative-spacing-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-large;
  }
  .mv-7-ns  {
    margin-top: $negative-spacing-extra-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-extra-large;
  }

  .mh-0-ns   {
    margin-left: $negative-spacing-none;
    margin-right: $negative-spacing-none;
  }
  .mh-1-ns   {
    margin-left: $negative-spacing-extra-small;
    margin-right: $negative-spacing-extra-small;
  }
  .mh-2-ns   {
    margin-left: $negative-spacing-small;
    margin-right: $negative-spacing-small;
  }
  .mh-3-ns   {
    margin-left: $negative-spacing-medium;
    margin-right: $negative-spacing-medium;
  }
  .mh-4-ns   {
    margin-left: $negative-spacing-large;
    margin-right: $negative-spacing-large;
  }
  .mh-5-ns   {
    margin-left: $negative-spacing-extra-large;
    margin-right: $negative-spacing-extra-large;
  }
  .mh-6-ns  {
    margin-left: $negative-spacing-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-large;
  }
  .mh-7-ns  {
    margin-left: $negative-spacing-extra-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-extra-large;
  }

}

@media #{$breakpoint-medium} {
  .pa-0-m  {  padding: $negative-spacing-none; }
  .pa-1-m {  padding: $negative-spacing-extra-small; }
  .pa-2-m  {  padding: $negative-spacing-small; }
  .pa-3-m  {  padding: $negative-spacing-medium; }
  .pa-4-m  {  padding: $negative-spacing-large; }
  .pa-5-m  {  padding: $negative-spacing-extra-large; }
  .pa-6-m {  padding: $negative-spacing-extra-extra-large; }
  .pa-7-m { padding: $negative-spacing-extra-extra-extra-large; }

  .pl-0-m  {  padding-left: $negative-spacing-none; }
  .pl-1-m {  padding-left: $negative-spacing-extra-small; }
  .pl-2-m  {  padding-left: $negative-spacing-small; }
  .pl-3-m  {  padding-left: $negative-spacing-medium; }
  .pl-4-m  {  padding-left: $negative-spacing-large; }
  .pl-5-m  {  padding-left: $negative-spacing-extra-large; }
  .pl-6-m {  padding-left: $negative-spacing-extra-extra-large; }
  .pl-7-m { padding-left: $negative-spacing-extra-extra-extra-large; }

  .pr-0-m  {  padding-right: $negative-spacing-none; }
  .pr-1-m {  padding-right: $negative-spacing-extra-small; }
  .pr-2-m  {  padding-right: $negative-spacing-small; }
  .pr-3-m  {  padding-right: $negative-spacing-medium; }
  .pr-4-m  {  padding-right: $negative-spacing-large; }
  .pr-5-m  {  padding-right: $negative-spacing-extra-large; }
  .pr-6-m {  padding-right: $negative-spacing-extra-extra-large; }
  .pr-7-m { padding-right: $negative-spacing-extra-extra-extra-large; }

  .pb-0-m  {  padding-bottom: $negative-spacing-none; }
  .pb-1-m {  padding-bottom: $negative-spacing-extra-small; }
  .pb-2-m  {  padding-bottom: $negative-spacing-small; }
  .pb-3-m  {  padding-bottom: $negative-spacing-medium; }
  .pb-4-m  {  padding-bottom: $negative-spacing-large; }
  .pb-5-m  {  padding-bottom: $negative-spacing-extra-large; }
  .pb-6-m {  padding-bottom: $negative-spacing-extra-extra-large; }
  .pb-7-m { padding-bottom: $negative-spacing-extra-extra-extra-large; }

  .pt-0-m  {  padding-top: $negative-spacing-none; }
  .pt-1-m {  padding-top: $negative-spacing-extra-small; }
  .pt-2-m  {  padding-top: $negative-spacing-small; }
  .pt-3-m  {  padding-top: $negative-spacing-medium; }
  .pt-4-m  {  padding-top: $negative-spacing-large; }
  .pt-5-m  {  padding-top: $negative-spacing-extra-large; }
  .pt-6-m {  padding-top: $negative-spacing-extra-extra-large; }
  .pt-7-m { padding-top: $negative-spacing-extra-extra-extra-large; }

  .pv-0-m {
    padding-top: $negative-spacing-none;
    padding-bottom: $negative-spacing-none;
  }
  .pv-1-m {
    padding-top: $negative-spacing-extra-small;
    padding-bottom: $negative-spacing-extra-small;
  }
  .pv-2-m {
    padding-top: $negative-spacing-small;
    padding-bottom: $negative-spacing-small;
  }
  .pv-3-m {
    padding-top: $negative-spacing-medium;
    padding-bottom: $negative-spacing-medium;
  }
  .pv-4-m {
    padding-top: $negative-spacing-large;
    padding-bottom: $negative-spacing-large;
  }
  .pv-5-m {
    padding-top: $negative-spacing-extra-large;
    padding-bottom: $negative-spacing-extra-large;
  }
  .pv-6-m {
    padding-top: $negative-spacing-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-large;
  }
  .pv-7-m {
    padding-top: $negative-spacing-extra-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-extra-large;
  }

  .ph-0-m {
    padding-left: $negative-spacing-none;
    padding-right: $negative-spacing-none;
  }
  .ph-1-m {
    padding-left: $negative-spacing-extra-small;
    padding-right: $negative-spacing-extra-small;
  }
  .ph-2-m {
    padding-left: $negative-spacing-small;
    padding-right: $negative-spacing-small;
  }
  .ph-3-m {
    padding-left: $negative-spacing-medium;
    padding-right: $negative-spacing-medium;
  }
  .ph-4-m {
    padding-left: $negative-spacing-large;
    padding-right: $negative-spacing-large;
  }
  .ph-5-m {
    padding-left: $negative-spacing-extra-large;
    padding-right: $negative-spacing-extra-large;
  }
  .ph-6-m {
    padding-left: $negative-spacing-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-large;
  }
  .ph-7-m {
    padding-left: $negative-spacing-extra-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-extra-large;
  }

  .ma-0-m  {  margin: $negative-spacing-none; }
  .ma-1-m {  margin: $negative-spacing-extra-small; }
  .ma-2-m  {  margin: $negative-spacing-small; }
  .ma-3-m  {  margin: $negative-spacing-medium; }
  .ma-4-m  {  margin: $negative-spacing-large; }
  .ma-5-m  {  margin: $negative-spacing-extra-large; }
  .ma-6-m {  margin: $negative-spacing-extra-extra-large; }
  .ma-7-m { margin: $negative-spacing-extra-extra-extra-large; }

  .ml-0-m  {  margin-left: $negative-spacing-none; }
  .ml-1-m {  margin-left: $negative-spacing-extra-small; }
  .ml-2-m  {  margin-left: $negative-spacing-small; }
  .ml-3-m  {  margin-left: $negative-spacing-medium; }
  .ml-4-m  {  margin-left: $negative-spacing-large; }
  .ml-5-m  {  margin-left: $negative-spacing-extra-large; }
  .ml-6-m {  margin-left: $negative-spacing-extra-extra-large; }
  .ml-7-m { margin-left: $negative-spacing-extra-extra-extra-large; }

  .mr-0-m  {  margin-right: $negative-spacing-none; }
  .mr-1-m {  margin-right: $negative-spacing-extra-small; }
  .mr-2-m  {  margin-right: $negative-spacing-small; }
  .mr-3-m  {  margin-right: $negative-spacing-medium; }
  .mr-4-m  {  margin-right: $negative-spacing-large; }
  .mr-5-m  {  margin-right: $negative-spacing-extra-large; }
  .mr-6-m {  margin-right: $negative-spacing-extra-extra-large; }
  .mr-7-m { margin-right: $negative-spacing-extra-extra-extra-large; }

  .mb-0-m  {  margin-bottom: $negative-spacing-none; }
  .mb-1-m {  margin-bottom: $negative-spacing-extra-small; }
  .mb-2-m  {  margin-bottom: $negative-spacing-small; }
  .mb-3-m  {  margin-bottom: $negative-spacing-medium; }
  .mb-4-m  {  margin-bottom: $negative-spacing-large; }
  .mb-5-m  {  margin-bottom: $negative-spacing-extra-large; }
  .mb-6-m {  margin-bottom: $negative-spacing-extra-extra-large; }
  .mb-7-m { margin-bottom: $negative-spacing-extra-extra-extra-large; }

  .mt-0-m  {  margin-top: $negative-spacing-none; }
  .mt-1-m {  margin-top: $negative-spacing-extra-small; }
  .mt-2-m  {  margin-top: $negative-spacing-small; }
  .mt-3-m  {  margin-top: $negative-spacing-medium; }
  .mt-4-m  {  margin-top: $negative-spacing-large; }
  .mt-5-m  {  margin-top: $negative-spacing-extra-large; }
  .mt-6-m {  margin-top: $negative-spacing-extra-extra-large; }
  .mt-7-m { margin-top: $negative-spacing-extra-extra-extra-large; }

  .mv-0-m {
    margin-top: $negative-spacing-none;
    margin-bottom: $negative-spacing-none;
  }
  .mv-1-m {
    margin-top: $negative-spacing-extra-small;
    margin-bottom: $negative-spacing-extra-small;
  }
  .mv-2-m {
    margin-top: $negative-spacing-small;
    margin-bottom: $negative-spacing-small;
  }
  .mv-3-m {
    margin-top: $negative-spacing-medium;
    margin-bottom: $negative-spacing-medium;
  }
  .mv-4-m {
    margin-top: $negative-spacing-large;
    margin-bottom: $negative-spacing-large;
  }
  .mv-5-m {
    margin-top: $negative-spacing-extra-large;
    margin-bottom: $negative-spacing-extra-large;
  }
  .mv-6-m {
    margin-top: $negative-spacing-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-large;
  }
  .mv-7-m {
    margin-top: $negative-spacing-extra-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-extra-large;
  }

  .mh-0-m {
    margin-left: $negative-spacing-none;
    margin-right: $negative-spacing-none;
  }
  .mh-1-m {
    margin-left: $negative-spacing-extra-small;
    margin-right: $negative-spacing-extra-small;
  }
  .mh-2-m {
    margin-left: $negative-spacing-small;
    margin-right: $negative-spacing-small;
  }
  .mh-3-m {
    margin-left: $negative-spacing-medium;
    margin-right: $negative-spacing-medium;
  }
  .mh-4-m {
    margin-left: $negative-spacing-large;
    margin-right: $negative-spacing-large;
  }
  .mh-5-m {
    margin-left: $negative-spacing-extra-large;
    margin-right: $negative-spacing-extra-large;
  }
  .mh-6-m {
    margin-left: $negative-spacing-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-large;
  }
  .mh-7-m {
    margin-left: $negative-spacing-extra-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-extra-large;
  }

}

@media #{$breakpoint-large} {
  .pa-0-l  {  padding: $negative-spacing-none; }
  .pa-1-l {  padding: $negative-spacing-extra-small; }
  .pa-2-l  {  padding: $negative-spacing-small; }
  .pa-3-l  {  padding: $negative-spacing-medium; }
  .pa-4-l  {  padding: $negative-spacing-large; }
  .pa-5-l  {  padding: $negative-spacing-extra-large; }
  .pa-6-l {  padding: $negative-spacing-extra-extra-large; }
  .pa-7-l { padding: $negative-spacing-extra-extra-extra-large; }

  .pl-0-l  {  padding-left: $negative-spacing-none; }
  .pl-1-l {  padding-left: $negative-spacing-extra-small; }
  .pl-2-l  {  padding-left: $negative-spacing-small; }
  .pl-3-l  {  padding-left: $negative-spacing-medium; }
  .pl-4-l  {  padding-left: $negative-spacing-large; }
  .pl-5-l  {  padding-left: $negative-spacing-extra-large; }
  .pl-6-l {  padding-left: $negative-spacing-extra-extra-large; }
  .pl-7-l { padding-left: $negative-spacing-extra-extra-extra-large; }

  .pr-0-l  {  padding-right: $negative-spacing-none; }
  .pr-1-l {  padding-right: $negative-spacing-extra-small; }
  .pr-2-l  {  padding-right: $negative-spacing-small; }
  .pr-3-l  {  padding-right: $negative-spacing-medium; }
  .pr-4-l  {  padding-right: $negative-spacing-large; }
  .pr-5-l  {  padding-right: $negative-spacing-extra-large; }
  .pr-6-l {  padding-right: $negative-spacing-extra-extra-large; }
  .pr-7-l { padding-right: $negative-spacing-extra-extra-extra-large; }

  .pb-0-l  {  padding-bottom: $negative-spacing-none; }
  .pb-1-l {  padding-bottom: $negative-spacing-extra-small; }
  .pb-2-l  {  padding-bottom: $negative-spacing-small; }
  .pb-3-l  {  padding-bottom: $negative-spacing-medium; }
  .pb-4-l  {  padding-bottom: $negative-spacing-large; }
  .pb-5-l  {  padding-bottom: $negative-spacing-extra-large; }
  .pb-6-l {  padding-bottom: $negative-spacing-extra-extra-large; }
  .pb-7-l { padding-bottom: $negative-spacing-extra-extra-extra-large; }

  .pt-0-l  {  padding-top: $negative-spacing-none; }
  .pt-1-l {  padding-top: $negative-spacing-extra-small; }
  .pt-2-l  {  padding-top: $negative-spacing-small; }
  .pt-3-l  {  padding-top: $negative-spacing-medium; }
  .pt-4-l  {  padding-top: $negative-spacing-large; }
  .pt-5-l  {  padding-top: $negative-spacing-extra-large; }
  .pt-6-l {  padding-top: $negative-spacing-extra-extra-large; }
  .pt-7-l { padding-top: $negative-spacing-extra-extra-extra-large; }

  .pv-0-l {
    padding-top: $negative-spacing-none;
    padding-bottom: $negative-spacing-none;
  }
  .pv-1-l {
    padding-top: $negative-spacing-extra-small;
    padding-bottom: $negative-spacing-extra-small;
  }
  .pv-2-l {
    padding-top: $negative-spacing-small;
    padding-bottom: $negative-spacing-small;
  }
  .pv-3-l {
    padding-top: $negative-spacing-medium;
    padding-bottom: $negative-spacing-medium;
  }
  .pv-4-l {
    padding-top: $negative-spacing-large;
    padding-bottom: $negative-spacing-large;
  }
  .pv-5-l {
    padding-top: $negative-spacing-extra-large;
    padding-bottom: $negative-spacing-extra-large;
  }
  .pv-6-l {
    padding-top: $negative-spacing-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-large;
  }
  .pv-7-l {
    padding-top: $negative-spacing-extra-extra-extra-large;
    padding-bottom: $negative-spacing-extra-extra-extra-large;
  }

  .ph-0-l {
    padding-left: $negative-spacing-none;
    padding-right: $negative-spacing-none;
  }
  .ph-1-l {
    padding-left: $negative-spacing-extra-small;
    padding-right: $negative-spacing-extra-small;
  }
  .ph-2-l {
    padding-left: $negative-spacing-small;
    padding-right: $negative-spacing-small;
  }
  .ph-3-l {
    padding-left: $negative-spacing-medium;
    padding-right: $negative-spacing-medium;
  }
  .ph-4-l {
    padding-left: $negative-spacing-large;
    padding-right: $negative-spacing-large;
  }
  .ph-5-l {
    padding-left: $negative-spacing-extra-large;
    padding-right: $negative-spacing-extra-large;
  }
  .ph-6-l {
    padding-left: $negative-spacing-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-large;
  }
  .ph-7-l {
    padding-left: $negative-spacing-extra-extra-extra-large;
    padding-right: $negative-spacing-extra-extra-extra-large;
  }

  .ma-0-l  {  margin: $negative-spacing-none; }
  .ma-1-l {  margin: $negative-spacing-extra-small; }
  .ma-2-l  {  margin: $negative-spacing-small; }
  .ma-3-l  {  margin: $negative-spacing-medium; }
  .ma-4-l  {  margin: $negative-spacing-large; }
  .ma-5-l  {  margin: $negative-spacing-extra-large; }
  .ma-6-l {  margin: $negative-spacing-extra-extra-large; }
  .ma-7-l { margin: $negative-spacing-extra-extra-extra-large; }

  .ml-0-l  {  margin-left: $negative-spacing-none; }
  .ml-1-l {  margin-left: $negative-spacing-extra-small; }
  .ml-2-l  {  margin-left: $negative-spacing-small; }
  .ml-3-l  {  margin-left: $negative-spacing-medium; }
  .ml-4-l  {  margin-left: $negative-spacing-large; }
  .ml-5-l  {  margin-left: $negative-spacing-extra-large; }
  .ml-6-l {  margin-left: $negative-spacing-extra-extra-large; }
  .ml-7-l { margin-left: $negative-spacing-extra-extra-extra-large; }

  .mr-0-l  {  margin-right: $negative-spacing-none; }
  .mr-1-l {  margin-right: $negative-spacing-extra-small; }
  .mr-2-l  {  margin-right: $negative-spacing-small; }
  .mr-3-l  {  margin-right: $negative-spacing-medium; }
  .mr-4-l  {  margin-right: $negative-spacing-large; }
  .mr-5-l  {  margin-right: $negative-spacing-extra-large; }
  .mr-6-l {  margin-right: $negative-spacing-extra-extra-large; }
  .mr-7-l { margin-right: $negative-spacing-extra-extra-extra-large; }

  .mb-0-l  {  margin-bottom: $negative-spacing-none; }
  .mb-1-l {  margin-bottom: $negative-spacing-extra-small; }
  .mb-2-l  {  margin-bottom: $negative-spacing-small; }
  .mb-3-l  {  margin-bottom: $negative-spacing-medium; }
  .mb-4-l  {  margin-bottom: $negative-spacing-large; }
  .mb-5-l  {  margin-bottom: $negative-spacing-extra-large; }
  .mb-6-l {  margin-bottom: $negative-spacing-extra-extra-large; }
  .mb-7-l { margin-bottom: $negative-spacing-extra-extra-extra-large; }

  .mt-0-l  {  margin-top: $negative-spacing-none; }
  .mt-1-l {  margin-top: $negative-spacing-extra-small; }
  .mt-2-l  {  margin-top: $negative-spacing-small; }
  .mt-3-l  {  margin-top: $negative-spacing-medium; }
  .mt-4-l  {  margin-top: $negative-spacing-large; }
  .mt-5-l  {  margin-top: $negative-spacing-extra-large; }
  .mt-6-l {  margin-top: $negative-spacing-extra-extra-large; }
  .mt-7-l { margin-top: $negative-spacing-extra-extra-extra-large; }

  .mv-0-l {
    margin-top: $negative-spacing-none;
    margin-bottom: $negative-spacing-none;
  }
  .mv-1-l {
    margin-top: $negative-spacing-extra-small;
    margin-bottom: $negative-spacing-extra-small;
  }
  .mv-2-l {
    margin-top: $negative-spacing-small;
    margin-bottom: $negative-spacing-small;
  }
  .mv-3-l {
    margin-top: $negative-spacing-medium;
    margin-bottom: $negative-spacing-medium;
  }
  .mv-4-l {
    margin-top: $negative-spacing-large;
    margin-bottom: $negative-spacing-large;
  }
  .mv-5-l {
    margin-top: $negative-spacing-extra-large;
    margin-bottom: $negative-spacing-extra-large;
  }
  .mv-6-l {
    margin-top: $negative-spacing-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-large;
  }
  .mv-7-l {
    margin-top: $negative-spacing-extra-extra-extra-large;
    margin-bottom: $negative-spacing-extra-extra-extra-large;
  }

  .mh-0-l {
    margin-left: $negative-spacing-none;
    margin-right: $negative-spacing-none;
  }
  .mh-1-l {
    margin-left: $negative-spacing-extra-small;
    margin-right: $negative-spacing-extra-small;
  }
  .mh-2-l {
    margin-left: $negative-spacing-small;
    margin-right: $negative-spacing-small;
  }
  .mh-3-l {
    margin-left: $negative-spacing-medium;
    margin-right: $negative-spacing-medium;
  }
  .mh-4-l {
    margin-left: $negative-spacing-large;
    margin-right: $negative-spacing-large;
  }
  .mh-5-l {
    margin-left: $negative-spacing-extra-large;
    margin-right: $negative-spacing-extra-large;
  }
  .mh-6-l {
    margin-left: $negative-spacing-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-large;
  }
  .mh-7-l {
    margin-left: $negative-spacing-extra-extra-extra-large;
    margin-right: $negative-spacing-extra-extra-extra-large;
  }
}

.mt-2_5 {
  margin-top: -2.5rem;
}

.mb-2_5 {
  margin-bottom: -2.5rem;
}

@media #{$breakpoint-not-small} {
  .mt-4_5-ns {
    margin-top: -4.5rem;
  }

  .mb-4_5-ns {
    margin-bottom: -4.5rem;
  }
}

.mb-23 {
  margin-bottom: -23rem;
}
