@mixin skin-mixin($name, $colour) {
  .#{$name} { color: $colour };
  .bg-#{$name} { background-color: $colour; }
  .fill-#{$name} {
    fill: $colour;
    svg {
      fill: $colour;
    }
  }
}

@include skin-mixin('white', $white);
@include skin-mixin('orange', $orange);
@include skin-mixin('purple', $purple);
@include skin-mixin('grey', $grey);
@include skin-mixin('plum', $plum);

.bg-white-o-80 {
    background: rgba(255, 255, 255, 0.8);
}

.bg-white-o-70 {
    background: rgba(255, 255, 255, 0.7);
}
