{% set latestLinks = [
  {
    title: 'Blog',
    url: '/blog',
    bgClass: 'laptop'
  },
  {
    title: 'Clients in the News',
    url: '/coverage',
    bgClass: 'trophy'
  },
  {
    title: 'Case Studies',
    url: '/our-work',
    bgClass: 'bike'
  }
] %}

<section class="cf w-100 bg-gray ph4 ph5-ns pb5">
  <h3 class="orange ttu tc fw6 f3 pv3">
    Spark Latest
  </h3>
  {% for link in latestLinks %}
    <a href="{{ link.url }}" class="fl w-100 w-third-ns">
      <div class="aspect-ratio aspect-ratio--1x1 relative">
        <div
          aria-hidden="true"
          class="db bg-center cover aspect-ratio--object"
          style="background-image: url({{ url("theme://images/#{link.bgClass}.jpg") }})"
        ></div>
        <span class="ttu bg-animate f4 db tc pv2 fw4 bottom-0 absolute w-100 z-9999 bg-orange white">
          {{ link.title }}
        </span>
      </div>
    </a>
  {% endfor %}
</section>
