{% set heroLinks = [
  {
    title: 'Why',
    subtitle: 'Why people hire us',
    url: '/why-spark',
    icon: 'svgs/speech-bubble.svg.twig'
  },
  {
    title: 'Work',
    subtitle: 'Campaigns that deliver',
    url: '/our-work',
    icon: 'svgs/cog.svg.twig'
  },
  {
    title: 'How',
    subtitle: 'Create, engage & influence',
    url: '/create-engage-and-influence',
    icon: 'svgs/handshake.svg.twig'
  }
] %}

<section class="mh3 cf bg-white tc ttu fw4">
  {% for link in heroLinks %}
    <a href={{ link.url }} class="fl w-100 w-third-ns pt2 pb3 ph5 db link black bg-white hover-orange hover-fill-orange no-decoration-hover">
      <div class="aspect-ratio aspect-ratio--8x5 w-50 center">
        {% include link.icon with { class: 'aspect-ratio--object' } %}
      </div>
      <div class="f3 db">
        {{ link.title }}
      </div>
      <div class="f6 db">
        {{ link.subtitle }}
      </div>
    </a>
  {% endfor %}
</section>
